<% if request.authorization %>
  <p><%= link_to "Go to Admin", "/admin" %></p>
<% end %>

<% @posts.each do |post| %>
  <article>
    <h3>
      <%= post.title %>
    </h3>
    <p>
      <%= simple_format post.body %>
    </p>
  </article>
<% end %>
